.container{
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.logo{
    max-width: 350px;
}

.title{
    color: #FFFF;
    margin: 14px 0;
}

.categoria-area{
    display: flex;
    gap: 14px;
    margin-bottom: 34px;

}

.categoria-button{
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.buttonFrase{
    background-color: #1FA4DB;
    border: 0;
    border-radius: 4px;
    padding: 8px 16px;
    color: #FFFF;
    font-size: 16px;
}


.textoFrase{
    width: 420px;
    background-color: #FAFAFA;
    border-radius: 4px;
    text-align: center;
    padding: 14px 22px;
    margin: 24px 0 16px 0;
    line-height: 150%;
    color: #DD7B22;
    font-style: italic;
    font-size: 18px; 
}